<div class="forja-damage-dialog">

  {{!-- Combatants header --}}
  <div class="forja-damage-dialog__header">
    <div class="forja-damage-dialog__combatant">
      <img src="{{attackerImg}}" class="forja-damage-dialog__portrait" alt="{{attackerName}}"/>
      <span class="forja-damage-dialog__combatant-name">{{attackerName}}</span>
    </div>
    <i class="fas fa-arrow-right forja-damage-dialog__arrow"></i>
    <div class="forja-damage-dialog__combatant">
      <img src="{{targetImg}}" class="forja-damage-dialog__portrait" alt="{{targetName}}"/>
      <span class="forja-damage-dialog__combatant-name">{{targetName}}</span>
    </div>
  </div>

  {{!-- Roll results --}}
  <table class="forja-damage-dialog__table">
    <tr>
      <td class="forja-damage-dialog__label">{{localize "FORJA.Combat.Defender"}}</td>
      <td class="forja-damage-dialog__detail">{{defenseLabel}}</td>
      <td class="forja-damage-dialog__value forja-damage-dialog__value--defense">{{defenderFites}} ●</td>
    </tr>
    <tr>
      <td class="forja-damage-dialog__label">{{localize "FORJA.Combat.Attacker"}}</td>
      <td class="forja-damage-dialog__detail">{{weaponName}}</td>
      <td class="forja-damage-dialog__value forja-damage-dialog__value--attack">{{attackerFites}} ●</td>
    </tr>
    <tr class="forja-damage-dialog__separator">
      <td colspan="2" class="forja-damage-dialog__label">Net hits</td>
      <td class="forja-damage-dialog__value {{#if isHit}}forja-damage-dialog__value--hit{{else}}forja-damage-dialog__value--miss{{/if}}">
        {{netHits}}
      </td>
    </tr>
  </table>

  {{!-- Damage breakdown (only if hit) --}}
  {{#if isHit}}
  <div class="forja-damage-dialog__breakdown">
    <div class="forja-damage-dialog__breakdown-title">{{localize "FORJA.Combat.DamageBreakdown"}}</div>
    <table class="forja-damage-dialog__table forja-damage-dialog__table--breakdown">
      <tr>
        <td class="forja-damage-dialog__label">{{localize "FORJA.Combat.BaseDamage"}}</td>
        <td class="forja-damage-dialog__formula">{{weaponDamageFormula}}</td>
        <td class="forja-damage-dialog__value">{{baseDamage}}</td>
      </tr>
      <tr>
        <td class="forja-damage-dialog__label">{{localize "FORJA.Combat.NetHitsBonus"}}</td>
        <td class="forja-damage-dialog__formula"></td>
        <td class="forja-damage-dialog__value">+{{netHits}}</td>
      </tr>
      <tr>
        <td class="forja-damage-dialog__label">{{localize "FORJA.Combat.Protection"}}</td>
        <td class="forja-damage-dialog__formula"></td>
        <td class="forja-damage-dialog__value forja-damage-dialog__value--reduction">−{{protection}}</td>
      </tr>
      <tr>
        <td class="forja-damage-dialog__label">{{localize "FORJA.Combat.DamageReduction"}}</td>
        <td class="forja-damage-dialog__formula">FOR</td>
        <td class="forja-damage-dialog__value forja-damage-dialog__value--reduction">−{{dr}}</td>
      </tr>
      {{#if blockExtraDR}}
      <tr>
        <td class="forja-damage-dialog__label">{{localize "FORJA.Combat.BlockDRBonus"}}</td>
        <td class="forja-damage-dialog__formula">FOR</td>
        <td class="forja-damage-dialog__value forja-damage-dialog__value--reduction">−{{blockExtraDR}}</td>
      </tr>
      {{/if}}
      <tr class="forja-damage-dialog__total-row">
        <td class="forja-damage-dialog__label" colspan="2">{{localize "FORJA.Combat.TotalDamage"}}</td>
        <td class="forja-damage-dialog__value forja-damage-dialog__value--total">{{totalDamage}}</td>
      </tr>
    </table>
  </div>
  {{else}}
  <div class="forja-damage-dialog__miss">
    <i class="fas fa-shield-alt"></i> {{localize "FORJA.Combat.AttackMissConfirm"}}
  </div>
  {{/if}}

</div>
