<div class="forja-derived">
  <div class="forja-derived__stat">
    <span class="forja-derived__label">{{localize "FORJA.Derived.Defense"}}</span>
    <span class="forja-derived__value">{{system.defense}}</span>
  </div>
  <div class="forja-derived__stat">
    <span class="forja-derived__label">{{localize "FORJA.Derived.Latency"}}</span>
    <span class="forja-derived__value">{{system.latency}}</span>
  </div>
  <div class="forja-derived__stat">
    <span class="forja-derived__label">{{localize "FORJA.Derived.DamageReduction"}}</span>
    <span class="forja-derived__value">{{system.damageReduction}}</span>
  </div>
  <div class="forja-derived__stat">
    <span class="forja-derived__label">{{localize "FORJA.Derived.Reaction"}}</span>
    <span class="forja-derived__value">{{system.reaction}}</span>
  </div>
  <div class="forja-derived__stat">
    <span class="forja-derived__label">{{localize "FORJA.Derived.Protection"}}</span>
    <span class="forja-derived__value">{{system.protection}}</span>
  </div>
</div>
