<section class="forja-traits tab" data-group="primary" data-tab="traits">
  {{#if hasTraits}}
    <ul class="forja-trait-list">
      {{#each traits}}
        <li class="forja-trait-row forja-trait-row--{{this.system.traitType}}" data-item-id="{{this.id}}">
          <span class="forja-trait-row__name forja-trait-row__name--{{this.system.traitType}}">
            {{this.name}}{{#if this.system.isParametric}}<span class="forja-trait-row__level-slash">/</span><input type="number" name="items.{{this.id}}.system.level" value="{{this.system.level}}"
                   class="forja-trait-row__level-input" min="0" max="{{this.system.maxLevel}}" />{{/if}}
          </span>
          <span class="forja-trait-row__cost" title="{{localize 'FORJA.Cost'}}">
            {{this.system.computedCost}} {{localize "FORJA.Points.Abbr"}}
          </span>
          <div class="forja-trait-row__controls">
            <a class="forja-item-control" data-action="itemEdit" data-item-id="{{this.id}}"
               title="{{localize 'FORJA.ItemEdit'}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="forja-item-control" data-action="itemDelete" data-item-id="{{this.id}}"
               title="{{localize 'FORJA.ItemDelete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="forja-empty-state">
      <i class="fas fa-star forja-empty-state__icon"></i>
      <p class="forja-empty-state__text">{{localize "FORJA.EmptyTraits"}}</p>
    </div>
  {{/if}}
</section>
