<div class="forja-roll">
  <h4 class="roll-label">{{label}}</h4>
  <div class="dice-results">
    {{#each dice}}
    <span class="die-result {{this.class}}">{{this.value}}</span>
    {{/each}}
  </div>
  <div class="roll-result {{resultClass}}">
    {{#if isPifia}}
      {{localize "FORJA.Dice.pifia"}}
    {{else}}
      {{fites}} {{localize "FORJA.Dice.fites"}}
    {{/if}}
  </div>
  {{#if combatNotes.length}}
  <div class="roll-combat-notes">
    {{#each combatNotes}}
      <span class="roll-combat-note">{{this}}</span>
    {{/each}}
  </div>
  {{/if}}
</div>
